<template>
    <div>

        <form-wizard ref="wizard" @on-complete="onComplete"
                     :start-index="index"
                     :title="title"
                     :subtitle="subtitle"
                     @on-loading="setLoading"
                     color="#9b59b6">

            <div v-if="errors.length">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Please correct the following error(s):</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
            </div>

            <tab-content title="Step 1"
                         icon="ti-user"
                         :before-change="beforeTabSwitch">
                <div class="col-lg-12">
                    <div class="form-group col-lg-6 d-flex justify-content-center">
                        <label class="col-lg-3">First Name:</label>
                        <b-form-input class="col-lg-12" v-model="first_name"></b-form-input>
                    </div>
                    <div class="form-group col-lg-6 d-flex justify-content-center">
                        <label class="col-lg-3">Last Name:</label>
                        <b-form-input class="col-lg-12" v-model="last_name"></b-form-input>
                    </div>
                    <div class="form-group col-lg-6 d-flex justify-content-center">
                        <label class="col-lg-3">Telephone:</label>
                        <b-form-input class="col-lg-12" v-model="telephone"></b-form-input>
                    </div>
                </div>
            </tab-content>
            <tab-content title="Step 2"
                         icon="ti-settings"
                         :before-change="beforeTabSwitch">
                <div class="col-lg-12">
                    <div class="form-group col-lg-6 d-flex justify-content-center">
                        <label class="col-lg-3">address</label>
                        <b-form-input class="col-lg-12" v-model="address"></b-form-input>
                    </div>
                    <div class="form-group col-lg-6 d-flex justify-content-center">
                        <label class="col-lg-3">Complement</label>
                        <b-form-input class="col-lg-12" v-model="complement"></b-form-input>
                    </div>
                    <div class="form-group col-lg-6 d-flex justify-content-center">
                        <label class="col-lg-3">Zip Code</label>
                        <b-form-input class="col-lg-12" v-model="zip_code"></b-form-input>
                    </div>
                    <div class="form-group col-lg-6 d-flex justify-content-center">
                        <label class="col-lg-3">City</label>
                        <b-form-input class="col-lg-12" v-model="city"></b-form-input>
                    </div>
                </div>
            </tab-content>
            <tab-content title="Last step"
                         icon="ti-check"
            >
                <div class="col-lg-12">
                    <div class="form-group col-lg-6 d-flex justify-content-center">
                        <label class="col-lg-3">IBAN</label>
                        <b-form-input class="col-lg-12" v-model="iban"></b-form-input>
                    </div>
                </div>
            </tab-content>
            <div class="loader" v-if="loadingWizard"></div>
        </form-wizard>
    </div>
</template>

<script>

export default {
    name: 'FormOrder',
    props: {
        title: {
            type: String,
            default: 'Wunder Mobility Test'
        },
        subtitle: {
            type: String,
            default: 'Rafael Costa'
        }
    },
    data() {
        return {
            loadingWizard: false,
            errors: [],
            first_name: '',
            last_name: '',
            telephone: '',
            address: '',
            complement: '',
            zip_code: '',
            city: '',
            iban: '',
            index: 0,
            total_step: 2,
            step: 0
        }
    },
    mounted() {
        this.init();
    },
    methods: {
        setLoading: function (value) {
            this.loadingWizard = value
        },
        onComplete: function () {
            this.checkForm();
            axios.put("/order", {
                form_id: "form_1",
                data: {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    telephone: this.telephone,
                    address: this.address,
                    complement: this.complement,
                    zip_code: this.zip_code,
                    city: this.city,
                    iban: this.iban
                },
                total_step: this.total_step,
                step: this.step
            }).then((response) => {
                this.beforeTabSwitch();
                window.location.href = "/form/success/" + response.data.id;
            }).catch(err => {
                this.errors.push(err.response.data.errors);
            })
        },
        beforeTabSwitch: function () {
            this.checkForm();

            if (this.step < this.$refs.wizard.activeTabIndex) {
                this.step = this.$refs.wizard.activeTabIndex;
            }
            if (this.step > this.$refs.wizard.activeTabIndex) {
                this.step = this.step - 1;
            }
            this.tracking();
            return true;
        },
        checkForm: function (e) {
            this.errors = [];

            if (this.first_name == null) {
                this.errors.push("First Name required.");
            }
            if (this.last_name == null) {
                this.errors.push("Last Name required.");
            }
            if (this.$refs.wizard.activeTabIndex == 1) {
                if (this.address == null) {
                    this.errors.push("Address required.");
                }
                if (this.zip_code == null) {
                    this.errors.push("Zip code required.");
                }
            }
            console.log(this.$refs.wizard.activeTabIndex == 2);
            if (this.$refs.wizard.activeTabIndex == 2) {
                if (this.iban == null) {
                    this.errors.push("Iban required.");
                }
            }


            if (!this.errors.length) {
                return true;
            }
            e.preventDefault();
        },
        tracking: function () {
            axios.put("/tracking", {
                form_id: "form_1",
                data: {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    telephone: this.telephone,
                    address: this.address,
                    complement: this.complement,
                    zip_code: this.zip_code,
                    city: this.city,
                    iban: this.iban
                },
                total_step: this.total_step,
                step: this.step
            })
        },
        init() {
            axios.post("/tracking", {
                form_id: "form_1"
            }).then((response) => {

                    if (response.data.step != undefined) {
                        this.$refs.wizard.changeTab(0, parseInt(response.data.step));
                        console.log(parseInt(response.data.step));
                        this.index = parseInt(response.data.step);
                        this.step = response.data.step;
                        this.first_name = response.data.data.first_name;
                        this.last_name = response.data.data.last_name;
                        this.telephone = response.data.data.telephone;
                        this.address = response.data.data.address;
                        this.complement = response.data.data.complement;
                        this.zip_code = response.data.data.zip_code;
                        this.city = response.data.data.city;
                        this.iban = response.data.data.iban;
                    }
                }
            )
        }
    }
}
</script>

<style scoped>
span.error {
    color: #e74c3c;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* This is a css loader. It's not related to vue-form-wizard */
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #e74c3c;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

</style>
